@font-face {
  font-family: 'LatoThin';
  src: url(assets/fonts/Lato-Thin.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'LatoThinItalic';
  src: url(assets/fonts/Lato-ThinItalic.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'LatoRegular';
  src: url(assets/fonts/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'LatoBold';
  src: url(assets/fonts/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'LatoBolder';
  src: url(assets/fonts/Lato-Black.ttf);
  font-weight: 900;
}
